# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Application Specific
# Add any temp files or build outputs here
dist/
build/
*.log
